sk_logger
c
q
t
q_train.sh
nohup.out.q
.test.py.swp
.model.py.swp
temp.txt
q_train.sh
t
.train.sh.swp
train.sh
test.sh
test
run.sh
train.sh
train.sh
run.sh
cc
run.sh
__pycache__

.codegpt
temp
utils/linear_patterns.png
utils/sin_patterns.png
